.marketplace-main .addon-actions {
  min-height: 2em;
}

.marketplace-main .addon-actions::before {
  --ahx-trigger: load once;
  --ahx-get: url("actions");
  --ahx-swap: inner;
  --ahx-include: closest form;
  --ahx-params: id, augmentation, action;
  --ahx-headers: {
    "X-Gitlab-User-Details": "id email"
  };
}

.marketplace-main .addon-actions button {
  --ahx-trigger: click;
  --ahx-post: attr(ahx-post url);
  --ahx-include: closest form;
}
